MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=campusflow
MYSQL_USER=campusflow
MYSQL_PASSWORD=campusflow123
JWT_SECRET=15d7d4e8e7e70ece8177e99ca533ea279c3ca22bb129d871311001e9f52b8fd5a69ff810df5cbc9fa2f104c79f34a08f

FRONTEND_URL=http://54.241.203.16:5173
OAUTH_REDIRECT_BASE_URL=http://54.241.203.16:8080
CORS_ALLOWED_ORIGINS=http://54.241.203.16:5173

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=lovemyself.h.s@gmail.com
MAIL_PASSWORD=cpeoifuvpnkvewky

NAVER_CLIENT_ID=CEqIhAbw6YdxpRyayyNC
NAVER_CLIENT_SECRET=RSB2tnoDdP
KAKAO_REST_API_KEY=51c4f10c7cf27d839c97b7547c97c22a
KAKAO_CLIENT_SECRET=1N3iR613HKfUVbqiMOuxQ98ny57HVOiP
